

html, body {
  height: 100%;
  width: 100%;
  background-image= url("http://more-sky.com/data/out/9/IMG_296882.jpg");*/
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  color: black;
  background-repeat: repeat;
}

.page-title {
  position: relative;
  margin: auto;
  clear: left;
  height: auto;
  z-index: 0;
  text-align:center;
}

.entry-search-wrapper {
  height: 100%;
  width: 100%;
  margin-top: 7%;
  display: flex;
}

.gastro-entries {
  margin-top: 3%;
  width: 100%;
  height: 100%;
  background-color: rgba(130, 130, 130, 0.05);
  transition: width 0.4s ease-in-out;

  overflow: auto;
}

.gastro-tools {
  height: 100%;
  max-width: 30%;
  margin-top: 3%;
  margin-right 2%;
}

.gastro-tools-input-form {
  margin-top:150%;
  width: 80%;
  height: 100%;
  margin-left: 5%;
}


.gastro-tools-input-form-name {
  margin-bottom: 5%;
  width: 80%;
  margin:
}

.gastro-tools-input-form-email {
  margin-bottom: 5%;
  width: 80%;
}

.gastro-tools-input-form-country {
  margin-bottom: 5%;
  width: 80%;
}

.gastro-tools-input-form-message {
  width: 100%;
  height: 5%;
  transition : height 0.4s ease-in-out;
}

.gastro-tools-input-form-message:focus {
  height: 15%;
}

.gastro-tools-search {
  width: 80%;
  margin-left 5%;

}

.gastro-tools-search-bar {
  transition: width 0.4s ease-in-out;
  width: 80%;
  margin-top: 5%;
  margin-left: 5%;

}

.gastro-tools-search-bar:focus {
  width: 100%;
}

.gastro-tools-management {
  color: rgba(130, 130, 130, 1.0);
  margin-right: 3%;
  right:0;
  height: 3%;
  width: 2%;
  position: absolute;
}

.gastro-tools-expand {
  margin:auto;
  margin-top: 10%;
  margin-right:0%;

}

.gastro-entry {
  margin: auto;
  width: 90%;
  border-bottom: 2px solid grey;
}


.message-info-expand {
  line-height: 0.6;
}


.message-info-expand-email {
  color: grey;
  cursor: pointer;

}

.message-info:hover, .message-info-expand-email:hover, .gastro-tools-management:hover {
  color: rgba(130, 130, 130, 0.5);
  cursor: pointer;
}
