

html, body {
  height: 100%;
  width: 100%;
  background-image= url("http://more-sky.com/data/out/9/IMG_296882.jpg");*/
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  color: black;
  background-repeat: repeat;
}

.page-title {
  position: relative;
  margin: auto;
  clear: left;
  height: auto;
  z-index: 0;
  text-align:center;
}

.entry-search-wrapper {
  height: 100%;
  margin: auto;
}

.gastro-entries {
  margin: auto;
  margin-right: 30%;
  margin-top: 10%;
  width: 60%;
  height: 100%;
  background-color: rgba(130, 130, 130, 0.05);
  padding: 2%;
}

.gastro-entry {
  margin: auto;
  width: 90%;
  padding: 2%;
  border-bottom: 2px solid grey;
}


.message-info-expand {
  line-height: 0.6;
}


.message-info-expand-email {
  color: grey;
  cursor: pointer;

}

.message-info:hover, .message-info-expand-email:hover {
  color: rgba(130, 130, 130, 0.5);
  cursor: pointer;
}
