
/*BEERWARE THIS MONSTROSITY OF A CSS FILE IS A HORROR TO LOOK UPON*/
/*I TAKE NO RESPONSIBILITY FOR ANY EVENTUAL BRAINDAMAGE*/

html, body {
  height: 100%;
  width: 100%;
  /*background-image: url("https://s-media-cache-ak0.pinimg.com/originals/69/0c/f6/690cf657788ea89a9ecabc258a0388f1.jpg");*/
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
  color: black;
  background-repeat: repeat;
}

.top-div {
  /*background-color: rgba(130, 130, 130, 0.1);*/
  position:absolute;
  width: 100%;
  z-index: 0;
  text-align:center;
  height: 20%;
  border-radius: 10%;
  overflow:hidden;
}

.page-title {
  width: 40%;
}

.page-title-text-div {
  position:absolute;
  top: 30%;
  width: 50%;
  left: 1%;
}

.title-text {
  color: (230, 230, 230);
}

.title-search {
  position:absolute;
  display: flex;
  width: 100%;
}

.gastro-right-button {
  position:absolute;
  right:0%;
  width:10%;
  top:40%;
  z-index:100;
}

.gastro-right-button-image {
  width:100%;
  height:auto;
  content:url("http://www.clker.com/cliparts/2/9/b/8/1194984775760075334button-green_benji_park_01.svg.hi.png")
}

.gastro-left-button {
  position:absolute;
  left: 0%;
  width: 10%;
  top: 40%;
  z-index:100;
}

.gastro-left-button-image {
  width:100%;
  height:auto;
  content:url("http://www.clker.com/cliparts/2/9/b/8/1194984775760075334button-green_benji_park_01.svg.hi.png")
}

.gastro-input-button {
  position:absolute;
  width: 25%;
  bottom: 5%;
  left: 30%;
  z-index:100;
}

.gastro-input-button-image {
  width:100%;
  height:auto;
  content:url("http://vignette1.wikia.nocookie.net/tayothelittlebus/images/9/97/Bob_minions_2015.png/revision/latest?cb=20150807182137");
}



.gastro-tools-search {
  width: 50%;
  height: 40%;
  position:absolute;
  right: 0%;
  top: 30%;
}

.gastro-tools-search-bar {
  transition: width 0.4s ease-in-out;
  width: 80%;
  height: 100%;

}

/*.gastro-tools-management {*/
  /*position: absolute;*/
  /*color: rgba(130, 130, 130, 1.0);*/
  /*right:4%;*/
  /*bottom: 0%;*/
  /*[>text-shadow: 0 1px 3px rgba(0,0,0,.5);<]*/
/*}*/

.entry-search-wrapper {
  height: 80%;
  width: 98%;
  display: flex;
  position:absolute;
  top:20%;
  right: 1%;
}

.gastro-entries {
  margin-right: 2%;
  height: 100%;
  width:100%;
  background-color: rgba(130, 130, 130, 0.1);
  transition: width 0.4s ease-in-out;

  border-radius: 5%;
  overflow: auto;
  position:absolute;
}


.gastro-tools {
  height: 100%;
  width: 100%;
  position:absolute;

  border-radius: 3%;
  background-color: rgba(130, 130, 130, 0.7);
}

.gastro-tools-input-form {
  position:absolute;
  width: 60%;
  height: 50%;
  top: 15%;
  left: 25%;
}


.gastro-tools-input-form-name {
  margin-bottom: 1%;
  width: 80%;
  height: 8%
}

.gastro-tools-input-form-email {
  margin-bottom: 1%;
  width: 80%;
  height: 8%
}

.gastro-tools-input-form-country {
  margin-bottom: 1%;
  width: 80%;
  height: 8%
}

.gastro-tools-input-form-message {
  width: 80%;
  height: 15%;
  transition : height 0.4s ease-in-out;
}

.gastro-tools-input-form-message:focus {
  height: 30%;
}



.gastro-tools-expand {
  margin:auto;
  margin-top: 10%;
  margin-right:0%;

}

.gastro-entry {
  margin: auto;
  width: 75%;
  border-bottom: 2px solid grey;
}

.header-date {
  display: flex;
  width: 75%;
}

.gastro-message-date {
  position:absolute;
  right: 15%;
}


.gastro-info-response {
  display:flex;
}

.gastro-entry-response {
  position: absolute;
  right:30%;
  font-style:italic;
}
.gastro-message-header {
}

.gastro-message {

}

.message-info {
}

.message-info-expand {
  line-height: 0.6;
}


.message-info-expand-email {
  color: grey;
  cursor: pointer;

}

.message-info:hover, .message-info-expand-email:hover, .gastro-tools-management:hover {
  color: rgba(130, 130, 130, 0.5);
  cursor: pointer;
}


/*-------------------------*/

.crash-image-div {
 position:absolute;
 width:20%;
 height:30%;
 left:30%;
}

.crash-image {
  position:absolute;
  width:100%;
  height:auto;
  content:url("https://s-media-cache-ak0.pinimg.com/originals/b9/df/76/b9df7679d2a2b3fb0016892b0e059aca.png");
}
